@model List<Post>

<h1>All Posts</h1>

<a asp-controller="Post" asp-action="NewPost">Create a Post</a>

@foreach (Post post in Model)
{
    <div class="card shadow rounded mx-auto w-75 mb-3">
    <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">
      @post.Topic - @post.Author.FirstName @post.Author.LastName
    </h4>

    <div class="card-body">
      <p class="card-text">@post.Body</p>
      <small class="text-muted"> Submitted on: @post.CreatedAt </small>
    </div>

    <a
      asp-controller="Post"
      asp-action="Details"
      asp-route-postId="@post.PostId"
      class="btn btn-outline-info"
    >
      View Details
    </a>

    <a
      asp-controller="Post"
      asp-action="Edit"
      asp-route-postId="@post.PostId"
      class="btn btn-outline-info"
    >
      Edit Post
    </a>

    <img src="@post.ImgUrl" alt="related to post." class="card-img-bottom" />
  </div>
}