@model List<Post>

<h1>All Posts</h1>

<a asp-controller="Post" asp-action="NewPost">Create a Post</a>

@foreach (Post post in Model)
{
    <div class="card shadow rounded mx-auto w-75 mb-3">
    <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">
      @post.Topic - @post.Author.FirstName @post.Author.LastName
    </h4>

    <div class="card-body">
      <p class="card-text">@post.Body</p>
      <small class="text-muted"> Submitted on: @post.CreatedAt </small>
    </div>

    <h3>Liked by:</h3>
    @foreach (UserPostLike like in post.PostLikes)
    {
      <p>@like.User.FirstName @like.User.LastName</p>
    }

    <a
      asp-controller="Post"
      asp-action="Details"
      asp-route-postId="@post.PostId"
      class="btn btn-outline-info"
    >
      View Details
    </a>

    <a
      asp-controller="Post"
      asp-action="Edit"
      asp-route-postId="@post.PostId"
      class="btn btn-outline-info"
    >
      Edit Post
    </a>

    @{ bool alreadyLiked = post.PostLikes.Any(like => like.UserId == Context.Session.GetInt32("UUID")); }

    <form
      asp-controller="Post"
      asp-action="Like"
      asp-route-postId="@post.PostId"
      method="POST"
    >
      <button>
        @if (alreadyLiked)
        {
          <span>Unlike</span>
        }
        else
        {
          <span>Like</span>
        }
      </button>
    </form>

    <img src="@post.ImgUrl" alt="related to post." class="card-img-bottom" />
  </div>
}