@model Pet

<h3>@Model.Name</h3>
<h3>@Model.Age</h3>
<h3>@Model.HairColor</h3>
<h3>@Model.Type</h3>


@* <h3>@ViewBag.Name</h3>
<h3>@ViewBag.Age</h3>
<h3>@ViewBag.HairColor</h3>
<h3>@ViewBag.Type</h3> *@